/* navbar for about us and contact us*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.contain{
    width: 100%;
    background: linear-gradient(to top, rgba(79, 43, 43, 0.5)50%, rgba(79, 43, 43, 0.5)50%), url('/Bg/commonNav.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    background-size: 100% 120%;
    margin-top: -30px;
}
#nav {
    margin-top: 20px;
    display: flex;
    position: relative;
    color: white;
}

#nav .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 20px;
    width: 60%;
    /* background-color: #297075; */
    margin-top: 3%;
}

#nav .menu a {
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#nav a:hover {
    color: rgb(98, 186, 196);
}

#nav #marker {
    position: absolute;
    height: 4px;
    left: 0;
    width: 0;
    background: rgb(98, 186, 196);
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
    margin-left: 10px;
}
#nav  hr {
    display: none;
}

/*hamburger */
.open-Menu, .close-menu {
    position: relative;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
 .open-Menu {
    top: 0%;
    right: -20px;
}
.close-menu {
    top: 10px;
    right: 20px;
}
#check {display: none;}


#nav img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    opacity: 0.9;
    margin-top: 30px;
}
.text{
    margin: 50px;
    margin-left: 10%;
    font-size: 1.5rem;
}
.col-2 {
    width: 50%;
   
}

.Row{
    display: flex;
    flex-direction: row;
}
.Row .cards{
    padding: 10px;
    border: 2px solid white;
}
.text-area p {
    font-size: 1.5rem;
    margin-left: 20%;
    text-justify: auto;
}
.f-img img {
    border-radius: 15px 50px;
}
.aboutDetail {
margin: 5% 10%;
}
.aboutDetail .para h6 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

