/*CSS Reset
margin: TRBL*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Background Image */
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(79, 43, 43, 0.5)50%, rgba(79, 43, 43, 0.5)50%), url('/Bg/spaghetti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /*height: 85vh;*/
    background-size: 100% 120%;
}

/*Logo and search bar*/
.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo*/
.container-1 .logo {
    margin-left: 40px;
    margin-top: 20px;
}

/*logo and search bar*/
.container-1 .logo img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    opacity: 0.9;
}

/* Search bar*/
.search {
    position: relative;
    width: 460px;
    height: 50px;
    background-color: white;
    border-radius: 60px;
    box-shadow: 0 0 5px 3px rgb(35, 35, 35);
    overflow: hidden;
    margin-right: 50px;
    margin-bottom: 0px;
}

.search .icon {
    top: 0;
    left: 0;
    height: 50px;
    width: 60px;
    background: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .input {
    position: relative;
    width: 400px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -55px;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    padding-right: 10px;
}

/*Navabr*/
#navbar {
    margin-top: 20px;
    display: flex;
    position: relative;
    color: white;
}

#navbar .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 20px;
    width: 52%;
}

#navbar .menu a {
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    word-spacing: 2px;
}

#navbar a:hover {
    color: rgb(98, 186, 196);
}

#navbar #marker {
    position: absolute;
    height: 4px;
    left: 0;
    width: 0;
    background: rgb(98, 186, 196);
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
    margin-left: 10px;
}
#navbar  hr {
    display: none;
}

/*hamburger */
.open-menu , .close-menu {
    position: relative;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 10%;
    right: -20px;
}
.close-menu {
    top: 10px;
    right: 20px;
}
#check {display: none;}

/* Content Section*/
#home {
    text-align: center;
    padding-top: 50px;
    font-size: 1.8rem;
    z-index: -1;
    margin-top: 70px;
    color: white;
}

#home .content {
    text-align: center;
    position: relative;

}

.btn-1 {
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin: 30px 0px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: transparent;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    line-height: 1;
    padding: 15px;
    position: relative;
    transition: box-shadow 0.15s, transform 0.15s;
}

.btn-1:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-1:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn-1:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* Inspiration for your first order*/
.head-primary {
    margin: 60px 40px 20px;
    font-size: 1.2rem;

}

.second-primary {
    margin: 10px 40px 20px;
    font-size: 1.2rem;
}

.third-primary {
    margin: 20px 40px 20px;
    font-size: 1.2rem;
}
/* Footer */
.footer {
    background-image: linear-gradient(to top, rgba(72, 18, 18, 0.5)50%, rgba(72, 18, 18, 0.5)50%), url('/Bg/Footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 90%;
    border: transparent;
    color: black;
    font-family: cursive;
    margin-top: 10%;

}

.ta-c {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ta-c h1{
    font-size: 2.3rem;
    color: white;
}

.ta-c .img-1 {
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.footer a {
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

.footer-col {
    width: 33.33%;
    padding: 15px;
    text-transform: capitalize;
    margin-top: 50px;
    text-align: center;
}

.footer-col h4 {
    color: white;
    position: relative;
    font-size: 1.5rem;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: white;
    word-spacing: 5px;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1.2rem;
}

.footer-col ul li a:hover {
    color: black;
    padding-left: 10px;
}
.social h4{
    margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  color: white;
}
.social .social-links{
    display: flex;
    justify-content: center;
}
.social .social-links a i {
    font-size: 2.5rem;
    margin-top: 5px;
}

.social .social-links a {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: white ;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 30px;
    /*to bring the icon in center kind off padding*/
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}

.social .social-links a:hover {
    color: white;
    background-color: black;
}

.hs {
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.3rem;
}