/* media query for phone */
@media  (max-device-width: 340px) {
    * {
        overflow-x: hidden;
      }
      body {
        overflow-x: hidden;
      }
    .log_head h1 {
        margin-left: 35%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 5rem;
    }
    .log_head a {
        margin-right: 4%;
        font-size: 2.5rem;
    }
      .form-container {
        width: 90%;
        margin-top: 50%;
        height: 55vh;
        overflow-y: hidden;
        /* background-color: rebeccapurple; */
      }    
      .form-group {
        margin-bottom: 60px;
        position: relative;
        text-align: center;
    }
    
    
    .form-group input {
        width: 80%;
        padding-top: 10px;
        padding: 10px;
        font-size: 3rem;
    }
    
    .form-group .eye-icon {
        right: 65px;
        font-size: 2.5rem;
    }
    .form-group .eyeIcon {
        right: 65px;
        font-size: 2.5rem;
    }
    
    .fg h4 {
        padding-bottom: 10px;
        font-size: 2.2rem;
    }
    
    .fg h3 {
        font-size: 2.2rem;
    }
    
    .form-group button {
        width: 80%;
        font-size: 16px;
        font-size: 2.8rem;
    }
    
    .form-group button svg {
        font-size: 1.3rem;
    }
    
    .error {
        color: red;
        text-align: center;
        font-size: 2rem;
    }
    }

    /* Media Query for Mobile Devices */
    @media (min-device-width: 341px) and (max-device-width: 480px) {
        * {
            overflow-x: hidden;
          }
          body {
            overflow-x: hidden;
          }
        .log_head h1 {
            margin-left: 40%;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 3rem;
        }
        .log_head a {
            margin-right: 4%;
            font-size: 2.5rem;
        }
          .form-container {
            width: 70%;
            margin-top: 30%;
            height: 50vh;
            overflow-y: hidden;
            /* background-color: cyan; */
          }    
          .form-group {
            margin-bottom: 40px;
            position: relative;
            text-align: center;
        }
        .form-group #password-log{
            margin-right: -4%;
        }
        
        .form-group input {
            width: 80%;
            padding-top: 10px;
            padding: 10px;
            font-size: 2rem;
        }
        
        .form-group .eye-icon {
            right: 40px;
            font-size: 2.2rem;
        }
        .form-group .eyeIcon {
            right: 40px;
            font-size: 2.2rem;
        }
        
        .fg h4 {
            padding-bottom: 30px;
            font-size: 2rem;
            margin-top: -10px;
        }
        
        .fg h3 {
            font-size: 2rem;
        }
        
        .form-group button {
            width: 80%;
            font-size: 16px;
            font-size: 2rem;
        }
        .error {
            color: red;
            text-align: center;
            font-size: 1.6rem;
        }
    }

    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-device-width: 481px) and (max-device-width: 767px) {
        * {
            overflow-x: hidden;
          }
          body {
            overflow-x: hidden;
          }
        .log_head h1 {
            margin-left: 35%;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        .log_head a {
            margin-right: 4%;
            font-size: 2.5rem;
        }
          .form-container {
            width: 45%;
            margin-top: 15%;
            height: 60vh;
            overflow-y: hidden;
            /* background-color: palevioletred; */
          }    
          .form-group {
            margin-bottom: 30px;
            position: relative;
            text-align: center;
        }
        .form-group #password-log{
            margin-right: -2%;
        }
        
        .form-group input {
            width: 85%;
            padding-top: 10px;
            padding: 10px;
            font-size: 1rem;
        }
        
        .form-group .eye-icon {
            right: 30px;
            font-size: 1.5rem;
        }
        .form-group .eyeIcon {
            right: 30px;
            font-size: 1.5rem;
        }
        
        .fg h4 {
            padding-bottom: 30px;
            font-size: 1.5rem;
            margin-top: -5px;
        }
        
        .fg h3 {
            font-size: 1rem;
        }
        
        .form-group button {
            width: 80%;
            font-size: 16px;
            font-size: 1rem;
        }
        .error {
            color: red;
            text-align: center;
            font-size: 1.6rem;
        }

    }
    /* Media Query for Tablets Ipads portrait mode */

    @media (min-device-width: 768px) and (max-device-width: 1024px){
        * {
            overflow-x: hidden;
          }
          body {
            overflow-x: hidden;
          }
        .log_head h1 {
            margin-left: 35%;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        .log_head a {
            margin-right: 4%;
            font-size: 2.5rem;
        }
          .form-container {
            width: 45%;
            margin-top: 15%;
            height: 50vh;
            overflow-y: hidden;
            /* background-color: yellow; */
          }    
          .form-group {
            margin-bottom: 30px;
            position: relative;
            text-align: center;
        }
        .form-group #password-log{
            margin-right: -2%;
        }
        
        .form-group input {
            width: 85%;
            padding-top: 10px;
            padding: 10px;
            font-size: 1rem;
        }
        
        .form-group .eye-icon {
            right: 30px;
            font-size: 1.5rem;
        }
        .form-group .eyeIcon {
            right: 30px;
            font-size: 1.5rem;
        }
        
        .fg h4 {
            padding-bottom: 30px;
            font-size: 1.5rem;
            margin-top: -5px;
        }
        
        .fg h3 {
            font-size: 1rem;
        }
        
        .form-group button {
            width: 80%;
            font-size: 16px;
            font-size: 1rem;
        }
        .error {
            color: red;
            text-align: center;
            font-size: 1rem;
            margin-top: -10px;
        }

    }
    /* Media Query for Laptops and Desktops */
    @media (min-device-width: 1025px) and (max-device-width: 1280px){
        * {
            overflow-x: hidden;
          }
          body {
            overflow-x: hidden;
          }
        .log_head h1 {
            margin-left: 35%;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        .log_head a {
            margin-right: 4%;
            font-size: 2.5rem;
        }
          .form-container {
            width: 45%;
            margin-top: 10%;
            height: 72vh;
            overflow-y: hidden;
            /* background-color: greenyellow; */
          }    
          .form-group {
            margin-bottom: 30px;
            position: relative;
            text-align: center;
        }
        .form-group #password-log{
            margin-right: -2%;
        }
        
        .form-group input {
            width: 85%;
            padding-top: 10px;
            padding: 10px;
            font-size: 1rem;
        }
        
        .form-group .eye-icon {
            right: 30px;
            font-size: 1.5rem;
        }
        .form-group .eyeIcon {
            right: 30px;
            font-size: 1.5rem;
        }
        
        .fg h4 {
            padding-bottom: 30px;
            font-size: 1.5rem;
            margin-top: -5px;
        }
        
        .fg h3 {
            font-size: 1rem;
        }
        
        .form-group button {
            width: 80%;
            font-size: 16px;
            font-size: 1rem;
        }
        .error {
            color: red;
            text-align: center;
            font-size: 1.6rem;
        }
    }

