@media screen and (max-device-width: 768px) {
    * {
        overflow-x: hidden;
      }
      body {
        overflow-x: hidden;
      }
      
   /*Responsive Navbar for service */
  #nav {
    justify-content: space-between;
  }
  #nav  hr {
    display: block;
}
#nav img {
  height: 50px;
  width:  50px;
  border-radius: 50%;
  opacity: 0.9;
  margin-top: 20px;
}

  #nav .menu {
    background: linear-gradient(to top, rgba(79, 43, 43, 0.5)50%, rgba(79, 43, 43, 0.5)50%), url('/Bg/commonNav.jpg');
    flex-direction: column;
    justify-content: space-around; 
    width: 50%;
    height: 60vh;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 100;
    transition: all 0.2s ease-in-out;
    margin-top: 0%;
    font-size: 1.2rem;
    margin-left: 0%;
    /* background-color: #884A39; */
  }
  #nav .menu  a {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #nav a:hover{
    background-color: azure;
  }
  .open-Menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
  left: 0;
  }
  .open-Menu {
    width: 10%;
    margin-top: 9%;
    right: 10px;
    font-size: 2rem;
    display: block;
}
  .close-menu {
    font-size: 1.5rem;
    top: 2%;
    right: -85%;
  }

  /* shopping cart */
  #nav .shoppingCartButton i{
    width: 50%;
    height: 7vh;
    margin-top: 20%;
    cursor: pointer;
    padding: 10px;  
    background-color: aqua;
  }
  #nav .shopping-cart{
    width: 30%;
    height: 10vh;
    /* background-color: #e36708; */
    }
    #nav .shoppingCartButton {
    margin-top: 10%;
    font-size: 1rem;
    cursor: pointer;
}
#nav .shopping-cart .sum-prices h6 {
  font-size: 1rem;
}

    .shopping-cart{
      margin-right: -8px;
      margin-top: 30px;
      width: 20vh;
  }
  .shopping-cart .sum-prices {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .shoppingCartButton {
    margin-top: 20%;
    font-size: 1rem;
    cursor: pointer;
}  
.sum-prices h6 {
  font-size: 0.8rem;
}
 
      /* SERVICES */
      .service {
        text-align: center;
        margin: 30px;
        font-size: 1.2rem;
    }    
    /*  popup for contact us*/
    #popup {
      top: 40%;
      left: 50%;
      border-radius: 6px;
      width: 90%;
      padding: 0 30px 30px; 
  }
  #popup img {
    display: none;
}
}